html {
  border: 0;
  padding: 0;
  margin: 0;
}

#main {
  background: linear-gradient( to right, rgb(43, 124, 156), #9cf0c6);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 10px;
}

.to-left {
  display: inline-block;
  text-align: right;
  width: 40%;
  margin-left: 10%;
  font-size: 18px;
  font-weight: bold;
}

.to-right {
  margin-left: 50%;
  text-align: left;
  font-size: 12px;

}

p::first-line {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size:  25px ;
}

.button-submit{
  align-items: center ;
}

#title {
  text-align: center;
  color: honeydew;
  font-weight: bold;
    
}

#description {
    text-align: center;
    font-size: 22px;
}

#main-div {
  background-color: #FFFFFF;
  opacity: 0.6;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  border-radius: 10px;
}

#survey-form {
  ont-size: 21px;
}

#name-label {
  font-size: 22px;
}

#email-label {
  font-size: 22px;
}
  
#number-label {
  font-size: 22px;
}

#name {
  font-size: 17px;
  width: 280px;
}

#email {
  font-size: 17px;
  width: 280px;
}
  
#number {
  font-size: 17px;
  width: 280px;
}

#text-area {
  font-size: 15px;
  height: 50px;
  resize: vertical;
  width: 280px;
}

#submit{
  width: 130px;
  border: 0px solid;
  border-radius: 5px;
  height: 40px;
  color: #FFFFFF;
  font-size: 17px;
  background-color: #4095f0;
  margin-left: 43%;
  margin-bottom: 25px;
  } 